<%- contentFor( 'home')%>



<li class="icon home" style="text-align:center; background-color:rgba(0, 0, 0, 0.74);">
  <!-- <img src="./img/profile.jpg " class="" alt="" style="height:200px; width:200px; border-radius:50%; filter: grayscale(100%);"> -->
  <span class="title " id='typedtext' style="margin:50px; font-family: 'Architects Daughter', cursive; font-size:70px;"></span>
  <h1>
  <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, Im Ivan.", "I am Creative.", "I Love Design.", "I Love to Develop.","I Love to Code.","I Love Debugging." ]'>
    <span class="wrap" style="font-family: 'Architects Daughter', cursive; font-size:30px;"></span>
  </a>
</h1>
  <span class="hint" style=""></span>
</li>


  <%- contentFor( 'about')%>
  <h1 class="hit-the-floor header" style="font-size:70px; margin-top:120px;">About</h1>

  <li class="icon home" style="">
    <div class="typewriter">


    <p id="weirdtext" style="font-size:30px; ">  I'm a Web Developer graduate from Ironhack’s Web Development Bootcamp in Miami. Furthermore, I work as a freelance web developer.   While earning my Bachelors’ in Computer Science.
    I have 2 years of experience in Sales. My drive to keep learning and my passion for Computer Science is the reason I decided to join Ironhack.</p>    </div>
  </li>




    <%- contentFor( 'tech')%>



 <h1 class="hit-the-floor header" style="font-size:70px; margin-top:120px;">Skills</h1>
        <!--<li class="icon home">
      <div style="font-size:15px; text-align:left;">
        <div class="row">


      <h4 class='hit-the-floor ' style="font-size:30px;">WEB</h4>
      <span>  SASS/LESS/Stylus<br>
        EJS/Handlebars/Jade<br>
        ECMAScript 6, Responsive Design<br>
      jQuery, Angular2,HTML<br>
      React, Flux,Phonegap <br>
    React.js(Currently Learning)</span><br>
    </div>


<div class="row">

       <h4 class='hit-the-floor ' style="font-size:30px;">BACKEND </h4>
      <span>Node.js,  <br>
      Express, Heroku  <br>
    Mongoose</span>

    </div>
    <div class="row">

      <h4 class='hit-the-floor ' style="font-size:30px;">TOOLS I USE </h4>
     <span>iOS/Mac, Atom, Sublime <br>
     <br>
     </span>
   </div>
     <div class="row">

     <h4 class='hit-the-floor ' style="font-size:30px;">OTHERS </h4>
    <span> JavaScript,Git,GitHub<br>

    </span>
  </div>

</div>
    </li> -->

    <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="skill-block">
                                        <div class="sk-border">
                                            <h2>98%</h2>
                                        </div>
                                        <div class="sk-text">
                                            <h4>MongoDB</h4>
                                            <p>Mongoose,MongoDB</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="skill-block">
                                        <div class="sk-border">
                                            <h2>90%</h2>
                                        </div>
                                        <div class="sk-text">
                                            <h4>Express</h4>
                                            <p>AJAX, Passport</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="skill-block">
                                        <div class="sk-border">
                                            <h2>95%</h2>
                                        </div>

                                        <div class="sk-text">
                                            <h4>Angular2</h4>
                                            <p>Angular2, Phonegap, HTML/CSS/SCSS, Three.js, Bootstrap,  jQuery</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    <div class="skill-block">
                                        <div class="sk-border">
                                            <h2>92%</h2>
                                        </div>

                                        <div class="sk-text">
                                            <h4>Node.js</h4>
                                            <p>Node.js</p>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </div>
                </div>










      <%- contentFor( 'proj')%>
      <h1 class="hit-the-floor header" style="font-size:70px; margin-top:120px;">Projects</h1>

          <div class="container-fluid">
              <div class="row no-gutter popup-gallery">
                  <div class="col-lg-4 col-sm-6">
                      <a href="img/portfolio/fullsize/1.jpg" class="portfolio-box">
                          <img src="img/Project1.png" class="img-responsive" alt="">
                          <div class="portfolio-box-caption">
                              <div class="portfolio-box-caption-content">
                                  <div class="project-category text-faded">
                                      Three.js Game
                                  </div>
                                  <div class="project-name">
                                    <a href="https://ivan-jorge001.github.io/Racing-Game/Scene1.html">MarioKart</a>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                      <a href="img/portfolio/fullsize/2.jpg" class="portfolio-box">
                          <img src="img/Project2.png" class="img-responsive" alt="">
                          <div class="portfolio-box-caption">
                              <div class="portfolio-box-caption-content">
                                  <div class="project-category text-faded">
                                      Social App For Programmers
                                  </div>
                                  <div class="project-name">
                                    <a href="http://we-code-the-world.herokuapp.com">WeCodeTheWorld</a>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                      <a href="img/portfolio/fullsize/3.jpg" class="portfolio-box">
                          <img src="img/Project3.png" class="img-responsive" alt="">
                          <div class="portfolio-box-caption">
                              <div class="portfolio-box-caption-content">
                                  <div class="project-category text-faded">
                                      Mean Stack App
                                  </div>
                                  <div class="project-name">
                                    <a href="https://sports-money.herokuapp.com/"> Sports Money</a>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                      <a href="img/portfolio/fullsize/4.jpg" class="portfolio-box">
                          <img src="img/srvaldes.png" class="img-responsive" alt="">
                          <div class="portfolio-box-caption">
                              <div class="portfolio-box-caption-content">
                                  <div class="project-category text-faded">
                                     Wix (Bussiness)
                                  </div>
                                  <div class="project-name">
                                    <a href="valdescigars.com">SrValdes</a>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-4 col-sm-6">
                      <a href="img/portfolio/fullsize/5.jpg" class="portfolio-box">
                          <img src="img/porta.png" class="img-responsive" alt="">
                          <div class="portfolio-box-caption">
                              <div class="portfolio-box-caption-content">
                                  <div class="project-category text-faded">
                                      Portafolio Angular2 Admin
                                  </div>
                                  <div class="project-name">
                                    <a href="http://localhost:3000/#t1">Portafolio</a>
                                  </div>
                              </div>
                          </div>
                      </a>
                  </div>

              </div>
          </div>




        <%- contentFor( 'contact')%>
        <h1 class="hit-the-floor header" style="font-size:70px; margin-top:120px;">Contact</h1>

        <section class="get-in-touch" style="background-color:rgba(255, 255, 255, 0) !important;">
   <h1 class="title">Get in touch</h1>
   <form class="contact-form row">
      <div class="form-field col x-50">
         <input id="name" class="input-text js-input" type="text" required>
         <label class="label" for="name">Name</label>
      </div>
      <div class="form-field col x-50">
         <input id="email" class="input-text js-input" type="email" required>
         <label class="label" for="email">E-mail</label>
      </div>
      <div class="form-field col x-100">
         <input id="message" class="input-text js-input" type="text" required>
         <label class="label" for="message">Message</label>
      </div>
      <div class="form-field col x-100 align-center">
         <input class="submit-btn" type="submit" value="Submit">
      </div>
   </form>
</section>
